<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Reporte de progreso</title>
</head>
<body>
<div class="wrapper">
    <header id="header">
        <h1>Programación Visual</h1>
        <h2>Actualizándose conforme la materia avance.</h2>
        <nav class="navigation-bar">
            <ul>
                <li><a class="navigation-bar__menu-item-link" href="#actividades-en-desarrollo">Actividades en
                    desarrollo</a></li>
                <li><a class="navigation-bar__menu-item-link" href="#herramientas-a-utilizar">Herramientas
                    utilizadas</a></li>
                <li><a class="navigation-bar__menu-item-link" href="#muy-pronto">Próximamente en la materia</a></li>
            </ul>
        </nav>
    </header>

    <hr class="horizontal-divider">

    <main class="main-content">
        <section class="main-content__section" id="actividades-en-desarrollo">
            <h2 class="main-content__section-title"># Actividades en desarrollo</h2>
            <h3 class="main-content__section-subtitle">Trabajos prácticos</h3>
            <p class="main-content__section-content">Un pequeño resumen de lo que hemos aprendido hasta ahora.</p>

            <table class="table">
                <caption><u>Resumen de trabajos prácticos realizados</u></caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Observación</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1-1</th>
                    <td>Introducción a Java: <code>variables</code>, <code>flow control</code> y
                        <code>Objects</code>.<br>
                        Introducción a git: <code>init</code>, <code>add</code>, <code>commit</code>, <code>push</code>
                        y
                        <code>pull</code>.
                    </td>
                    <td>Repaso de conceptos de programación ahora enfocado usando el lenguaje <code>Java</code>,
                        concepto de
                        <code>OOP</code>.
                    </td>
                </tr>
                <tr>
                    <th scope="row">1-2</th>
                    <td>Introducción a Java: <code>enhanced for</code>, <code>arrays</code>, <code>dates</code>,
                        <code>lists</code> y <code>exceptions</code>.<br>
                    <td>Práctica de iterar objetos almacenados en distintas estructuras de datos, creación y manejo de
                        distintas formas de una fecha, introducción al concepto de una excepción.
                    </td>
                </tr>
                <tr>
                    <th scope="row">2-1</th>
                    <td>Introducción a Java: <code>enum</code> y <code>constants</code>.<br>
                        Continúa el uso de git: <code>branching</code> y <code>merge</code>.
                    </td>
                    <td>Introducción al concepto de <code>stream</code> y la facilidad para lograr filtros,
                        acumulaciones o
                        búsquedas.
                    </td>
                </tr>
                <tr>
                    <th scope="row">2-2</th>
                    <td>Introducción a Java: <code>interface</code>, <code>@FunctionalInterface</code> y
                        <code>Collections</code></td>
                    <td>Introducción al concepto de <code>stream</code> y la facilidad para lograr filtros,
                        acumulaciones o
                        búsquedas.
                    </td>
                </tr>
                <tr>
                    <th scope="row">3-1</th>
                    <td>Introducción a Spring Boot: creación de un proyecto, <code>pom.xml</code>,
                        <code>dependencies</code>
                        y <code>Maven</code>.<br>
                        Introducción a HTML: <code>tags</code> y <code>semantic</code>.
                    </td>
                    <td>Veremos el uso del <code>framework</code> <code>Spring Boot</code>, plantillas usando <code>thymeleaf</code>
                        además de una breve introducción a HTML.
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="2" scope="row">¡A la espera de más contenido!</th>
                    <td><img
                            alt="..."
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/347b1ddd-5231-4d82-8550-1fd0f0dc4afb/da4fusm-0dae72c2-06df-4c3f-b48a-7f7eb2f6fd6f.png/v1/fill/w_50,h_50/_3_5floppy__by_blueamnesiac_da4fusm-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTAiLCJwYXRoIjoiXC9mXC8zNDdiMWRkZC01MjMxLTRkODItODU1MC0xZmQwZjBkYzRhZmJcL2RhNGZ1c20tMGRhZTcyYzItMDZkZi00YzNmLWI0OGEtN2Y3ZWIyZjZmZDZmLnBuZyIsIndpZHRoIjoiPD01MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.3xH3M8eDii5zbt76eskIeKUcsjENpKYVN8UX-AKAJF4">
                    </td>
                </tr>
                </tfoot>
            </table>
        </section>
        <hr class="horizontal-divider">
        <section class="main-content__section" id="herramientas-a-utilizar">
            <h2 class="main-content__section-title"># Herramientas a utilizar</h2>
            <h3 class="main-content__section-subtitle">Un listado de las herramientas que se usaran durante el cursado
                de la materia.</h3>
            <p class="main-content__section-content">Entre ellas están: <code>frameworks</code>, <code>CLI apps</code>,
                <code>programming languages</code>, <code>IDE</code> y muchas cosas más...</p>

            <p class="tool"><u>OS:</u></p>
            <ol class="tool__list">
                <li class="tool__item">Arch Linux <small>&laquo;actualmente en uso&raquo;</small></li>
                <li class="tool__item">Windows</li>
            </ol>

            <p class="tool"><u>IDE/Text Editors</u></p>
            <ol class="tool__list">
                <li class="tool__item"><code>IntellijIDEA</code></li>
                <li class="tool__item"><code>Spring Tool Suite</code></li>
                <li class="tool__item"><code>Visual Studio Code</code></li>
            </ol>

            <p class="tool"><u>Framework:</u></p>
            <ol class="tool__list">
                <li class="tool__item"><code>Hibernate</code></li>
                <li class="tool__item"><code>Spring Boot</code></li>
                <li class="tool__item"><code>Bootstrap</code></li>
            </ol>

            <p class="tool"><u>Template Engine:</u></p>
            <ol class="tool__list">
                <li class="tool__item"><code>Thymeleaf</code></li>
            </ol>

            <p class="tool"><u>Lenguaje de Programación:</u></p>
            <ol class="tool__list">
                <li class="tool__item"><code>Java</code></li>
            </ol>

            <p class="tool"><u>CLI</u></p>
            <ol class="tool__list">
                <li class="tool__item"><code>git</code></li>
            </ol>
        </section>
        <hr class="horizontal-divider">
        <section class="main-content__section" id="muy-pronto">
            <h2 class="main-content__section-title"># Muy pronto</h2>
            <h3 class="main-content__section-subtitle">Una mirada a los temas que llegarán en los próximas semanas</h3>
            <p class="main-content__section-content">En unos días comenzaremos a crear sitios web usando
                <code>html</code> y <code>css</code>.</p>
            <p class="main-content__section-content">Veremos patrones de diseño, en particular <code>MVC</code>, <code>DAO</code>
                y <code>Dependency Injection</code>.</p>
            <p class="main-content__section-content">Después entraremos en la creación y uso de una base de datos en
                este caso será <code>MySQL</code> empleando <code>JPA</code> y <code>Hibernate</code>.</p>
            <p class="main-content__section-content">También nos introduciremos al uso de pruebas unitarias con <code>JUnit</code>
            </p>
        </section>
    </main>

    <hr class="horizontal-divider">

    <aside class="additional-content">
        <div>
            <a class="additional-content__link" href="#" title="Todavía queda mucho por aprender">Si miras desde abajo
                todo parece lejano</a>
            <img class="additional-content__img"
                 alt="..."
                 src="https://images.unsplash.com/photo-1647614224159-0f2e7d804be4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDM2fFdkQ2hxbHNKTjljfHxlbnwwfHx8fHw%3D">
        </div>
        <blockquote><i>Programar</i> es una actividad que algunos considerarían tediosa y rutinaria, pero no pueden
            observar lo que uno puede crear con tan solo <b>escribir</b>.
        </blockquote>
    </aside>

    <hr class="horizontal-divider">

    <footer id="footer">
        <h2>Actualizándose conforme la materia avance.</h2>
        <div>
            <p>&copy;<span>Gutierrez Angel Gonzalo</span></p>
            <ul>
                <li><small>email: <a class="footer__link" href="mailto:numbersevenonezero@gmail.com">numbersevenonezero@gmail.com</a></small>
                </li>
                <li><small>github: <a class="footer__link" href="https://github.com/cher-ange">cher-ange</a></small>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>